.parallax {
  &__content {
    width: 1140px;
    margin: 0 auto;
  }

  &__wrapperCake,
  &__wrapperCandy {
    max-width: 510px;
  }

  &__wrapperCake {
    margin-right: auto;
  }

  &__wrapperCandy {
    margin-left: auto;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 2.188rem;
    font-weight: 600;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 20px;
      background-image: url('/images/icon-separator.png');
      background-repeat: no-repeat;
      margin-bottom: 12px;
    }
  }

  &__subtitle {
    font-family: var(--cormorant);
    font-style: italic;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 20px;
  }

  &__list {
    width: 100%;

    li  {
      font-family: var(--cormorant);
      font-style: italic;
      font-weight: 500;
      font-size: 1.125rem;
      margin-bottom: 20px;
  
      strong {
        font-size: 1.125rem;
        font-weight: 500;
        font-family: 'Montserrat';
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }

  &__link {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
    max-width: 205px;
    transition: all 0.4s;

    &:hover {
      background-color: var(--orange-900);
      color: var(--black);
    }
  }

  &__background1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('/images/bg-menu-1.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  &__background2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('/images/bg-menu-2.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  &__separator {
    width: 100%;
    height: 50px;
    background-color: var(--white);
  }
}
